@import "defaults";
@import "nv.d3";


.d3canvas {
	
	background-color: #ffffff;

	width: 100%;
	height: 100%;

	margin: 0px;
	padding: 0;
}

.analytics {
	width: 100%;
	height: 100%;
	padding-top: 10px;
	padding-bottom: 40px;
	float: left;
}

.analytics .gui {
	top:220px;
}

//nvd3 needs this
.analytics svg{
  	/* Trying to get SVG to act like a greedy block in all browsers */
	display: block;
	width:100%;
	height:100%;
}

.analytics .disabled{
	display: inline;
}

.analytics .highlight {
	padding: 1px;
	margin-top: 2px;
}
