html,body {
	margin: 0;
	padding: 0;
}

body {
	//overflow: hidden;

	// background:
	// radial-gradient(black 15%, transparent 16%) 0 0,
	// radial-gradient(black 15%, transparent 16%) 8px 8px,
	// radial-gradient(rgba(60,55,55,.1) 15%, transparent 20%) 0 1px,
	// radial-gradient(rgba(50,50,50,.1) 15%, transparent 20%) 8px 9px;
	// background-color:#413B3B;
	// background-size:16px 16px;

	// background: #eee;
	// background-color: #6d695c;
	// background-image:
	// repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
	// repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
	// linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
	// linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
	// background-size: 70px 120px;

	background-color: #777;
}

.empty-view {
	position: absolute;

	top: 40%;
	width: 100%;
	height: 100%;

    font-size: 22px;
    text-align: center;
    color: #6B6868;
}