$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

html, body {
	height: 100%;
	width: 100%;
}

#content {
	height: 100%;
	width: 100%;
}

#map {
	height: 100%;
	width: 100%;
	position: absolute;
}

#leftSideBar {

}

#rightSideBar {

}

#topBar {
	
}

#bottomBar {
	
}

#viewContent{
	position: relative;
}

#OpenLayers_Control_Zoom_5 {
	top: 50px;
}

.tab-header {
	 cursor: pointer;
}

.sidepane {
	width: 100px;
	height: 100px;
}

.layercontrol {
	width: 260px;
	top: 200px;
	left: 20px;

}