$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

#preloadedImages {
       width: 0px;
       height: 0px;
       display: inline;
       background-image: url(path/to/image1.png);
       background-image: url(path/to/image2.png);
       background-image: url(path/to/image3.png);
       background-image: url(path/to/image4.png);
       background-image: url();
}


.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

hr {
	margin: 9px 0 9px 0px;
}

html, body {
	height: 100%;
	width: 100%;
}

ul, li {
 	list-style-type: none;
    list-style-position:inside;
    
}

#modal-start-download {
  width: 750px;
}

.download{
	display: block;
	position: absolute;
	top: 120px;
	left: 15%;
	margin:0px auto;
	left:0;
	right:0;
	width: 750px;
	padding: 0;
	font-size: 12px;
}

#div-downloads {
	display: none;
}

.selectionManager{
	display: block;
	position: absolute;
	top: 120px;
	left: 15%;
	margin:0px auto;
	left:0;
	right:0;
	width: 750px;
	padding: 0;
	font-size: 12px;
}

.popover {
  position: fixed;
}

.toolcontrol {
	top: 120px;
	right: 2%;
	padding: 2px;
	float: right;

}

.toolcontrol ul {
	margin:0;
    padding:0;
}




#products ul {
	margin:0;
    padding:0;
}

/*.checkbox {
	padding-right: 20px;
}*/

#products li {
   padding:5px 0 5px 25px;
}

.check {
   padding:0;
   margin-left:5px;
}



#baseLayers ul {
	margin:0;
    padding:0;
}

#baseLayers li {
   padding:5px 0 5px 25px;
}


#content {
	height: 100%;
	width: 100%;
}

#map {
	height: 100%;
	width: 100%;
	position: absolute;
}

#leftSideBar {

}

#rightSideBar {

}

#topBar {
	
}

#bottomBar {
	bottom: 10px;
	position: absolute;
	width: 96%;
	left: 2%;	
}

/*
 * Time Slider
 */
/*#timeslider {
  position: fixed;
  bottom: 2em;
  width: 90%;
  padding: 0 5%;
}*/

#timeslider svg.timeslider {
  height: 3em;
}

#viewContent{
	position: relative;
}

#OpenLayers_Control_Zoom_5 {
	top: 50px;
}

.tab-header {
	 cursor: pointer;
}

.sidepane {
	width: 100px;
	height: 100px;
}

.layercontrol {
	width: 260px;
	top: 120px;
	left: 2%;
	padding: 2px;
	font-size: 13px;
	float: left;

}

// Possible changes to mouse position display
/*div .olControlMousePosition {
	font-size: 16px !important;
	margin-right: 2%;
	font-weight:bold;
   	-webkit-text-fill-color: white;
   	-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: black;
}*/




