$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "defaults";
@import "splitview";
@import "timeslider";
@import "mapviewer";
@import "virtualglobeviewer";
@import "rectangularboxviewer";
@import "sliceviewer";
@import "window";
@import "analyticsviewer";
@import "stylesheet";

/* Not used right now ;)
#preloadedImages {
       width: 0px;
       height: 0px;
       display: inline;
       background-image: url(path/to/image1.png);
       background-image: url(path/to/image2.png);
       background-image: url(path/to/image3.png);
       background-image: url(path/to/image4.png);
       background-image: url();
}
*/

/*
 * Basic styles
 */
html, body {
  height: 100%;
  width: 100%;
  padding: 0 !important;
  // FIXXME: Their are a few 'quirks' in the layout, making it necessary to force hidding the scrollbars
  // for some cases:
  overflow: hidden;
}

body {
  background-color: $default-background !important;
}

ul, li {
  list-style-type: none;
  list-style-position: inside;
}

hr {
  margin: 1em 0;
}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body.wait *, body.wait {
  cursor:wait !important;
}

// Initial loading spinner element
#loadscreen{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 5000;
  text-align: center;
  opacity: 0.8;
}

#loadscreen i {
  top: 50%;
  position: absolute;
}

div#preload { 
  display: none;
}

// Error message element
#error-messages{
  position: absolute;
  top: 60px;
  width:40%;
  left: 30%;
  z-index: $layer-gui;
}


/*
 * Panels & Modals
 */
.panel .close {
  float: right;
  margin: -.5em -.7em 0 0;
  font-size: 1.2em;
}

.panel .no-label, .modal .no-label {
  float: left;
  margin: -.55em 0 0 -.6em;
  font-size: 1em;
}

.panel {
  z-index: $layer-gui;
}

.modal{
  overflow-y: hidden !important; 
}


/*
 * Buttons
 */
button[active=active] {
  background-color: #ccc;
}

/*
 * Draggable & Sortable Elements
 */
.ui-draggable .panel-heading {
    cursor: move;
}
.sortable-placeholder {
    display: block;
    height: 2em;
}

/*
 * Layer control styles
 */
.layercontrol {
    width: 20em;
    top: 10em;
    left: 3em;
    font-size: .9em;
    position: absolute;
}
.layercontrol ul {
    margin: 0 0 1em 1.5em;
    padding: 0;
}
#baseLayers ul {
  margin-bottom: 0;
}
#baseLayers li {
  margin-bottom: 0;
  margin-top: .2em;
}
.layercontrol li {
    margin: .2em 0 .8em 0;
    padding: 0 0 0 .6em;
}
.layercontrol ul input {
    margin-top: 2px;
}
.layercontrol .sortable-layer {
  margin: .3em -.5em 0 -2em;
  padding: 0;
}
.layercontrol .sortable-layer .form-control {
  font-size: 1em;
  line-height: 1.1em;
}
.fa-sort {
    cursor: ns-resize;
}

/*
 * Tool control
 */
.toolcontrol {
  width: 5.2em;
  top: 10em;
  right: 3em;
  font-size: .9em;
  position: absolute;
  right: 3em;
}
.toolcontrol .panel-heading h3 {
  text-align: center;
  font-size: 1.8em;
}
.toolcontrol .panel-body {
  text-align: center;
  padding: .3em .3em .1em .4em;
}
.toolcontrol .btn-group-vertical {
  margin-bottom: .5em;
}

/*
 * Selection Manager, Download Manager
 */
.selectionManager, .download {
  width: 50em;
  top: 10em;
  left: 50%;
  margin: 0 0 0 -25em;
  font-size: 1em;
  position: absolute;
}
.selectionManager .input-group {
  margin: .3em 0;
}

#btn-start-download {
  float: right;
}

.selectionManager .panel-body, .download .panel-body {
  max-height: 15em;
  overflow: auto;
}

/*
 * Empty view
 */

.empty-view {
  position: absolute;

  top: 0;
  width: 100%;
  height: 100%;

  padding-top: 50%;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  color: #6B6868;
}

/*
 * Old Styles
 */

// #content {
// 	height: 100%;
// 	width: 100%;
// }

#main {
  position: absolute;

  top: $header-height;
  bottom: 0;
  left: 0;
  right: 0;
}

#bottomBar {
	bottom: 10px;
	position: absolute;
	width: 96%;
	left: 2%;
}

/*
 * Time Slider
 */
/*#timeslider {
  position: fixed;
  bottom: 2em;
  width: 90%;
  padding: 0 5%;
}*/

#timeslider svg.timeslider {
  height: 4em;
  -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#viewContent{
	position: relative;
}

.tab-header {
	 cursor: pointer;
}

.sidepane {
	width: 100px;
	height: 100px;
}

/* Style to change the upload button appearance */
.myfileupload-buttonbar input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border: solid transparent;
    border-width: 0 0 100px 200px;
    opacity: 0.0;
    filter: alpha(opacity=0);
    -o-transform: translate(250px, -50px) scale(1);
    -moz-transform: translate(-300px, 0) scale(4);
    direction: ltr;
    cursor: pointer;
}

 .myui-button
{
    position: relative;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
}


// Possible changes to mouse position display
/*div .olControlMousePosition {
	font-size: 16px !important;
	margin-right: 2%;
	font-weight:bold;
   	-webkit-text-fill-color: white;
   	-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: black;
}*/

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

#div-downloads {
  display: none;
}


.popover {
  position: fixed;
}
