@import "partials/rounded";
@import "defaults";


.viewport {
	width: 100%;
	height: 100%;
	position: relative;
}

.windowview {
	width: 100%;
	height: 100%;
}

.gui {
	position: absolute;
	left: 8px;
	top: 65px;
	z-index: $layer-gui;
	background: rgba(180,180,180,0.4);
	padding: 3px;
	@include rounded(4px);
}

.mapview-btn, .globeview-btn, .boxview-btn {
	margin-bottom: 2px;
}

.highlight {
	padding: 4px;
	width: 22px;
	

	background: rgba(0, 60, 136, 0.5);
	@include rounded(4px);
}

.highlight i{
	color: white;
}
