<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle"></i></button>
      <h3 class="panel-title" id="about-title"><i class="fa fa-fw fa-info-circle"></i> About</h3>
    </div>

    <div class="modal-body modal-body-about">
      <div class="row">
        <div class="col-md-8">
          <p>&nbsp;</p>
          <p>CryoLand is a Collaborative Project (2011-2015) funded by the European Union under the 7<sup>th</sup> Framework Programme (Project number: 262925).
    Theme SPA.2010.1.1-01 – Stimulating the development of downstream GMES/Copernicus services. © CryoLand 2011. All rights reserved.</p>
        </div>
        <div class="col-md-4">
          <div class="col-md-12"><img src="images/logo_copernicus.gif" width="160px" alt="Copernicus-Logo"></div>
          <div class="row-fluid">
            <div class="col-md-6"><img src="images/euflag.gif" width="70px" alt="EU-Flag"></div>
            <div class="col-md-6"><img src="images/fp7logo.gif" width="70px" alt="FP7-Logo"></div>
          </div>

          </div>
      </div>
      <h4>Consortium</h4>
      <div class="row">
        <div class="col-md-4">
          <dl>
            <dd><a target="_blank" href="http://www.enveo.at/"><img src="images/enveo_logo_medium.gif" alt="ENVEO IT -Logo"></a></dd>
            <dd>ENVEO IT GmbH (Coordinator)</dd>
            <p>&nbsp;</p>
            <dd><a target="_blank" href="http://www.eox.at/"><img src="images/logo_eox.png" alt="EOX IT-Logo"></a></dd>
            <dd>EOX IT Services</dd>
            <p>&nbsp;</p>
            <dd><a target="_blank" href="http://www.fmi.fi"><img src="images/logo_fmi.png" alt="Finnish Meteorological Institute-Logo"></a></dd> 
            <dd>Finnish Meteorological Institute</dd> 
            <p>&nbsp;</p>
            <dd><a target="_blank" href="http://www.gamma-rs.ch"><img src="images/logo_gamma.png" alt="GAMMA Remote Sensing-Logo"></a></dd> 
            <dd>GAMMA Remote Sensing</dd>
          </dl>
        </div>
        <div class="col-md-4"> 
          <dl>
            <dd><a target="_blank" href="http://www.environment.fi"><img src="images/logo_syke.png" alt="Finnish Environment Institute-Logo"></a></dd> 
            <dd>Finnish Environment Institute</dd>
            <p>&nbsp;</p>
            <dd><a target="_blank" href="http://www.ksat.no"><img src="images/logo_kongsberg.png" alt="Kongsberg Satellite Services-Logo"></a></dd> 
            <dd>Kongsberg Satellite Services</dd>
            <p>&nbsp;</p>
            <dd><a target="_blank" href="http://www.norut.no"><img src="images/logo_norut.jpg" alt="Northern Research Institute-Logo"></a></dd> 
            <dd>Northern Research Institute</dd>
          </dl>
        </div>
        <div class="col-md-4">
          <dl>
            <dd><a target="_blank" href="http://www.nr.no"><img src="images/logo_nr.png" alt="Norwegian Computing Center-Logo"></a></dd> 
            <dd>Norwegian Computing Center</dd>
            <p>&nbsp;</p>
            <dd><a target="_blank" href="http://www.meteoromania.ro"><img src="images/logo_nma.png" alt="National Meteorological Administration-Logo"></a></dd> 
            <dd>National Meteorological Administration</dd>
            <p>&nbsp;</p>
            <dd><a target="_blank" href="http://www.smhi.se"><img src="images/logo_smhi.png" alt="Swedish Meteorological &amp; Hydrological Institute-Logo"></a></dd> 
            <dd>Swedish Meteorological &amp; Hydrological Institute</dd>
          </dl>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <dl>
            <dd><a target="_blank" href="http://eoxserver.org/">Powered by:&nbsp;<img width="30%" height="30%" src="images/EOxServer_logo_transparent.png" alt="eoxserver.org"></a></dd>
          </dl>
        </div>
    </div>

  </div>
</div>
