<div class='canvas'></div>
<div class='gui'>
	<div class='scatter-btn highlight '><i class="sprite sprite-scatter"></i></div>
	<div class='box-btn highlight '><i class="sprite sprite-box"></i></div>
	<div class='parallel-btn highlight '><i class="sprite sprite-parallel"></i></div>
</div>