<div class="panel-heading">
    <button type="button" class="close"><i class="fa fa-times-circle"></i></button>
    <h3 class="panel-title"><i class="fa fa-fw fa-download"></i> Download Manager</h3>
</div>
<div class="panel-body" id="download-list"></div>
<div class="panel-footer">
  <p>
    <select class="input-small" id="select-output-format">
      <option value="image/tiff" selected>GeoTIFF</option>
      <option value="image/jpeg">JPEG</option>
      <option value="image/png">PNG</option>
    </select>
    <select class="input-medium" id="select-output-crs" style="width:380px">
      <option value="epsg:4258">Geog. Lat/Lon / ETRS89 (EPSG:4258)</option>
      <option value="epsg:4326" selected>Geog. Lat/Lon / WGS84 (EPSG:4326)</option>
      <option value="epsg:3035">ETRS-LAEA (EPSG:3035)</option>
      <option value="epsg:3857">Spherical Mercator (e.g. Google Maps) (EPSG:3857)</option>
    </select>
  </p>
  <p>
    <button type="button" class="btn btn-primary" id="btn-start-download" disabled="disabled"><i class="fa fa-fw fa-download"></i> Start Download</button>
    <button type="button" class="btn btn-default" id="btn-select-all-coverages"><i class="fa fa-fw fa-check-square"></i> Select All</button>
    <button type="button" class="btn btn-default" id="btn-invert-coverage-selection"><i class="fa fa-fw fa-check-square-o"></i> Invert Selection</button>
  </p>
</div>
