
  <button type="button" class="close">&times;</button>
  <h4>Download</h4>

  <div class="input-prepend">
    <span class="add-on input-label-small">Min X</span>
    <input type="text" class="span2" placeholder="min-x" id="txt-minx">
  </div><br />
  <div class="input-prepend">
    <span class="add-on input-label-small">Min Y</span>
    <input type="text" class="span2" placeholder="min-y" id="txt-miny">
  </div><br />
  <div class="input-prepend">
    <span class="add-on input-label-small">Max X</span>
    <input type="text" class="span2" placeholder="max-x" id="txt-maxx">
  </div><br />
  <div class="input-prepend">
    <span class="add-on input-label-small">Max Y</span>
    <input type="text" class="span2" placeholder="max-y" id="txt-maxy">
  </div><br />
  <div class="btn-group" style="width:100%;">
    <button class="btn" id="btn-draw-bbox" style="width:85%">Draw Bounding Box</button>
    <button class="btn" id="btn-clear-bbox" style="width:15%">&times;</button>
  </div>

    
  <h6>Date Range</h6>
  <div id="div-date-begin" class="input-prepend input-append date" data-date="12-02-2012" data-date-format="yyyy-mm-dd" >
    <span class="add-on input-label-small">Start</span>
    <input type="text" class="span2" placeholder="begin time" id="txt-date-begin">
    <span class="add-on"><i class="icon-calendar"></i></span>
  </div><br />
  <div id="div-date-end" class="input-prepend input-append date" data-date="12-02-2012" data-date-format="yyyy-mm-dd" >
    <span class="add-on input-label-small">End</span>
    <input type="text" class="span2" placeholder="end time" id="txt-date-end">
    <span class="add-on"><i class="icon-calendar"></i></span>
  </div>
  <h6>Download</h6>
  <button class="btn btn-block btn-primary" id="btn-download"  href="#modal-start-download" data-toggle="modal"><i class="icon-white icon-download-alt"></i>Download</button>
