<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle"></i></button>
      <h3 class="panel-title" id="about-title"><i class="fa fa-fw fa-info-circle"></i> About EOxClient</h3>
    </div>
    <div class="modal-body modal-body-about">
		<div class="row-fluid">

		<div class="span8">
		  <p>&nbsp;</p>
		  <p>The V-MANIP project delivers Open Source software for Visualizing and Manipulating multidimensional data directly through a web client. The software will be a result of the collected requirements of various science communities for new visualization methods and preparation for the Sentinel era. </p>

		  <p>The V-MANIP project is being jointly conducted by EOX IT Services GmbH, Berner & Mattner Systemtechnik GesmbH, Fraunhofer Austria Research GmbH, SISTEMA GmbH, VRVis Zentrum für Virtual Reality und Visualisierung Forschungs-GmbH, Central Institute for Meteorology and Geodynamics. </p>
	  </div>
	   <div class="span4">
		 <img src="/images/logos/BM_logo.png" alt="Berner Mattner Logo">
		  <img src="/images/logos/EOX_Logo.png" alt="EOX Logo">
		  <img src="/images/logos/fha_logo.png" alt="Fraunhofer Logo">
		  <img src="/images/logos/vrvis_logo.png" alt="VRVis Logo">
		  <img src="/images/logos/Logo_ZAMG.png" alt="ZAMG Logo">
	   </div>
	</div>
  </div>
</div>
