<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle"></i></button>
      <h3 class="panel-title" id="about-title"><i class="fa fa-fw fa-info-circle"></i> About EOxClient</h3>
    </div>
    <div class="modal-body modal-body-about">
        <div class="row-fluid">
    <div class="span8">
      <p>&nbsp;</p>
      <p>
This is the early version of the DREAM project's On-line Data Access client.
It has still some issues such missing indication of the products
on the time-line. We are working hard on the usability improvements.
      </p>
      <p>
Also note that the client still has glitches in some popular browsers. Yes, it is embarrasing.
But until we fix we recommend to use the Chrome browser.
      </p>
      <p>
Yours EOX development team. 
      </p>
    </div>
  </div>
</div>

 <div class="row-fluid">
   <div class="span4">
     <dl>
       <dd>version 0.1.2</dd>
     </dl>
   </div>
</div>
 <div class="row-fluid">
   <div class="span4">
     <dl>
       <dd>&copy; 2013 EOX IT Services, GmbH</dd>
       <p>&nbsp;</p>
     </dl>
   </div>
</div>

