<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle"></i></button>
      <h3 class="panel-title" id="about-title"><i class="fa fa-fw fa-info-circle"></i> About V-MANIP</h3>
    </div>
    <div class="modal-body modal-body-about">
		
	  <p>&nbsp;</p>
	  <p>The V-MANIP project delivers Open Source software for Visualizing and Manipulating multidimensional data directly through a web client. The software will be a result of the collected requirements of various science communities for new visualization methods and preparation for the Sentinel era. </p>

	  <p>The V-MANIP project is being jointly conducted by EOX IT Services GmbH, Berner & Mattner Systemtechnik GesmbH, Fraunhofer Austria Research GmbH, SISTEMA GmbH, VRVis Zentrum für Virtual Reality und Visualisierung Forschungs-GmbH, Central Institute for Meteorology and Geodynamics. </p>
	 
	   <div class="row">
	   	<div class="col-md-6"><img style="width:80%;" src="/images/logos/BM_logo.png" alt="Berner Mattner Logo"></div>
	   	<div class="col-md-6"><img style="width:80%;" src="/images/logos/EOX_Logo.png" alt="EOX Logo"></div>
	   </div>

	   <div class="row">
	   	<div class="col-md-6"><img style="width:80%;" src="/images/logos/fha_logo.png" alt="Fraunhofer Logo"></div>
	   	<div class="col-md-6"><img style="width:100%;" src="/images/logos/vrvis_logo.png" alt="VRVis Logo"></div>
	   </div>

	   <div class="row">
	   	<div class="col-md-4"><img style="width:70%;" src="/images/logos/Logo_ZAMG.png" alt="ZAMG Logo"></div>
	   	<div class="col-md-8"><img style="width:90%;" src="/images/logos/LOGO_sistema.png" alt="SISTEMA Logo"></div>
	   </div>

	</div>
  </div>
</div>
