
<div class="panel-heading">
    <button type="button" class="close"><i class="fa fa-times-circle"></i></button>
    <h3 class="panel-title"><i class="fa fa-fw fa-list"></i> Legend</h3>
</div>
<div class="panel-body">

  <div class="tab-pane active" id="div-legend">
    <h5>Common to all CryoLand Products</h5>
      <p><img src="images/legend/common_legend.png" alt="Legend Entries common to all CryoLand Products"></p>
    <div class="accordion" id="accordion-legends">
    <div class="accordion-group">
  </div>
    
  
  <div class="accordion" id="accordion-legends">
          <div class="accordion-group">
          </div>
        
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-legends" href="#accordion-legends-daily_FSC_PanEuropean_Optical_Uncertainty">
            daily_FSC_PanEuropean_Optical_Uncertainty
          </a>
        </div>
        <div id="accordion-legends-daily_FSC_PanEuropean_Optical_Uncertainty" class="accordion-body collapse">
          <div class="accordion-inner">
        <img src="images/legend/daily_FSC_PanEuropean_Optical_Uncertainty.png">
          </div>
        </div>
      </div>
    
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-legends" href="#accordion-legends-avg_10day_SSPI_PanEuropean_Microwave">
            avg_10day_SSPI_PanEuropean_Microwave
          </a>
        </div>
        <div id="accordion-legends-avg_10day_SSPI_PanEuropean_Microwave" class="accordion-body collapse">
          <div class="accordion-inner">
        <img src="images/legend/avg_10day_SSPI_PanEuropean_Microwave.png">
          </div>
        </div>
      </div>
    
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-legends" href="#accordion-legends-avg_30day_SSPI_PanEuropean_Microwave">
            avg_30day_SSPI_PanEuropean_Microwave
          </a>
        </div>
        <div id="accordion-legends-avg_30day_SSPI_PanEuropean_Microwave" class="accordion-body collapse">
          <div class="accordion-inner">
        <img src="images/legend/avg_30day_SSPI_PanEuropean_Microwave.png">
          </div>
        </div>
      </div>
    
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-legends" href="#accordion-legends-daily_MODIS_RGB651_PanEuropean">
            daily_MODIS_RGB651_PanEuropean
          </a>
        </div>
        <div id="accordion-legends-daily_MODIS_RGB651_PanEuropean" class="accordion-body collapse">
          <div class="accordion-inner">
        <img src="images/legend/daily_MODIS_RGB651_PanEuropean.png">
          </div>
        </div>
      </div>
    
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-legends" href="#accordion-legends-daily_FSC_Baltic_Optical">
            daily_FSC_Baltic_Optical
          </a>
        </div>
        <div id="accordion-legends-daily_FSC_Baltic_Optical" class="accordion-body collapse">
          <div class="accordion-inner">
        <img src="images/legend/daily_FSC_Baltic_Optical.png">
          </div>
        </div>
      </div>
    
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-legends" href="#accordion-legends-multitemp_FSC_Scandinavia_Optical">
            multitemp_FSC_Scandinavia_Optical
          </a>
        </div>
        <div id="accordion-legends-multitemp_FSC_Scandinavia_Optical" class="accordion-body collapse">
          <div class="accordion-inner">
        <img src="images/legend/multitemp_FSC_Scandinavia_Optical.png">
          </div>
        </div>
      </div>
    
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-legends" href="#accordion-legends-daily_SWE_PanEuropean_Microwave">
            daily_SWE_PanEuropean_Microwave
          </a>
        </div>
        <div id="accordion-legends-daily_SWE_PanEuropean_Microwave" class="accordion-body collapse">
          <div class="accordion-inner">
        <img src="images/legend/daily_SWE_PanEuropean_Microwave.png">
          </div>
        </div>
      </div>
    
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-legends" href="#accordion-legends-daily_FSC_PanEuropean_Optical">
            daily_FSC_PanEuropean_Optical
          </a>
        </div>
        <div id="accordion-legends-daily_FSC_PanEuropean_Optical" class="accordion-body collapse">
          <div class="accordion-inner">
        <img src="images/legend/daily_FSC_PanEuropean_Optical.png">
          </div>
        </div>
      </div>
    
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-legends" href="#accordion-legends-daily_SCAW_Scandinavia_Radar">
            daily_SCAW_Scandinavia_Radar
          </a>
        </div>
        <div id="accordion-legends-daily_SCAW_Scandinavia_Radar" class="accordion-body collapse">
          <div class="accordion-inner">
        <img src="images/legend/daily_SCAW_Scandinavia_Radar.png">
          </div>
        </div>
      </div>
    
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-legends" href="#accordion-legends-daily_FSC_Alps_Optical">
            daily_FSC_Alps_Optical
          </a>
        </div>
        <div id="accordion-legends-daily_FSC_Alps_Optical" class="accordion-body collapse">
          <div class="accordion-inner">
        <img src="images/legend/daily_FSC_Alps_Optical.png">
          </div>
        </div>
      </div>
    
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-legends" href="#accordion-legends-daily_LIE_Baltic_Optical">
            daily_LIE_Baltic_Optical
          </a>
        </div>
        <div id="accordion-legends-daily_LIE_Baltic_Optical" class="accordion-body collapse">
          <div class="accordion-inner">
  <!-- changed to use pre-created static legends.-->
        <img src="images/legend/daily_LIE_Baltic_Optical.png">
          </div>
        </div>
      </div>
    
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-legends" href="#accordion-legends-RIE_SE_FI_Torne_River_2013_Radar">
            RIE_SE_FI_Torne_River_2013_Radar
          </a>
        </div>
        <div id="accordion-legends-RIE_SE_FI_Torne_River_2013_Radar" class="accordion-body collapse">
          <div class="accordion-inner">
        <img src="images/legend/RIE_SE_FI_Torne_River_2013_Radar.png">
          </div>
        </div>
      </div>
    
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-legends" href="#accordion-legends-View_10day_FSC_PanEuropean_Cloudfree">
            View_10day_FSC_PanEuropean_Cloudfree
          </a>
        </div>
        <div id="accordion-legends-View_10day_FSC_PanEuropean_Cloudfree" class="accordion-body collapse">
          <div class="accordion-inner">
        <img src="images/legend/View_10day_FSC_PanEuropean_Cloudfree.png">
          </div>
        </div>
      </div>
    
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-legends" href="#accordion-legends-View_10day_LIE_Baltic_Cloudfree">
            View_10day_LIE_Baltic_Cloudfree
          </a>
        </div>
        <div id="accordion-legends-View_10day_LIE_Baltic_Cloudfree" class="accordion-body collapse">
          <div class="accordion-inner">
        <img src="images/legend/View_10day_LIE_Baltic_Cloudfree.png">
          </div>
        </div>
      </div>
    
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-legends" href="#accordion-legends-multitemp_FSC_Scandinavia_Optical_Radar">
            multitemp_FSC_Scandinavia_Optical_Radar
          </a>
        </div>
        <div id="accordion-legends-multitemp_FSC_Scandinavia_Optical_Radar" class="accordion-body collapse">
          <div class="accordion-inner">
        <img src="images/legend/multitemp_FSC_Scandinavia_Optical_Radar.png">
          </div>
        </div>
      </div>
    
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-legends" href="#accordion-legends-daily_STS_SouthNorway_Optical">
            daily_STS_SouthNorway_Optical
          </a>
        </div>
        <div id="accordion-legends-daily_STS_SouthNorway_Optical" class="accordion-body collapse">
          <div class="accordion-inner">
        <img src="images/legend/daily_STS_SouthNorway_Optical.png">
          </div>
        </div>
      </div>
    
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-legends" href="#accordion-legends-daily_SSW_SouthNorway_Optical">
            daily_SSW_SouthNorway_Optical
          </a>
        </div>
        <div id="accordion-legends-daily_SSW_SouthNorway_Optical" class="accordion-body collapse">
          <div class="accordion-inner">
        <img src="images/legend/daily_SSW_SouthNorway_Optical.png">
          </div>
        </div>
      </div>
    </div>


</div>
