<div>
  <div class="navbar-inner">
  	<ul class="nav nav-collapse" id="tab-headers-main">
  	<li><a class="tab-header" target="_blank" href="{{url}}" style="font-size:30px"><strong>{{title}}</strong></a></li><li class="divider-vertical"></li>
  	</ul>
  </div>
</div>