<div id="modal-start-selectionManager">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h5>Selection Manager</h5>
  </div>
  <div class="modal-body" id="selection-list">
    <div id="selectionList"></div>
  </div>
  <div class="modal-footer">
   <div id="fileupload" >
    <div class="myfileupload-buttonbar ">
      <label class="btn myui-button">
        <span >Upload Selection</span>
        <input id="upload-selection" type="file" name="files[]" />
      </label>
      <button class="btn" id="btn-export-selection">Export Selection</button>
      <button class="btn" id="btn-save-selection">Save Selection</button>
    </div>
   </div>
  </div>
</div>