<div>
  <label class="radio" style="width:90%;float:left"><input type="radio" name="selections" value="{{id}}"></input>{{name}} - {{date}} </label><i class="icon-minus-sign" style="float:right"></i>
</div>