<div class="panel-heading">
  <button type="button" class="close"><i class="fa fa-times-circle"></i></button>
  <h3 class="panel-title"><i class="fa fa-fw fa-pencil-square-o"></i> Selection Manager</h3>
</div>
<div class="panel-body" id="selection-list"></div>
<div class="panel-footer">
  <div class="pull-right">
    <button type="button" class="btn btn-default" id="btn-export-selection"><i class="fa fa-fw fa-download"></i> Export</button>
    <button type="button" class="btn btn-default" id="btn-save-selection"><i class="fa fa-fw fa-save"></i> Save</button>
  </div>
  <div id="fileupload" >
    <div class="myfileupload-buttonbar">
      <label class="btn btn-default myui-button">
        <span><i class="fa fa-fw fa-upload"></i> Upload</span>
        <input id="upload-selection" type="file" name="files[]" />
      </label>
    </div>
  </div>
  <p class="text-muted" style="margin-top: 1em;"><small>The <em>Selection Manager</em> uses HTML5 LocalStorage for storing
    these features as GeoJSON directly in your browser. Be sure to export them
    if you need them in multiple browsers!</small></p>
</div>
