<div id="div-welcome-message">
  <div class="dark">
    <h1 class="huge">Welcome to the chills of the planet</h1>
    <p>Snow cover, freshwater ice, glacier information provided by CryoLand</p>
  </div>
  <div class="dark">
 <!--   <p><a href="#help">find out more</a> <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong> </strong></p> </p> -->
    <p><a href="#help">find out more</a> </p><p><font color="#FFFF00"> <strong>&nbsp;&nbsp;&nbsp;&nbsp;*** INFO: &nbsp;⇒&nbsp; &nbsp;New Color Codes for:&nbsp;&nbsp;"daily_FSC_PanEuropean_Optical_Uncertainty"</strong></font></p> <p></p>
  <!--  <p><a href="#help">find out more</a> <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>There has been an update - please clear your Browser's Cache in case of weird views or non-working items and then try again!</strong></p> </p> -->
    <!--<p><br> <u>Maintenance Notice:</u> There will be a service window at Wed, 2013-04-24 between 16:00 - 18:00 CET (=UTC+2)<p>  -->
  </div>
</div>