<div class='viewport'></div>
<div class='gui'>
	<div class='mapview-btn highlight '><i class="fa fa-picture-o"></i></div>
	<div class='globeview-btn highlight'><i class="fa fa-globe"></i></div>
	<div class='boxview-btn highlight'><i class="fa fa-inbox"></i></div>
	<div class='analyticsview-btn highlight'><i class="fa fa-bar-chart-o"></i></div>
</div>