<div class='viewport'></div>
<div class='gui'>
	<div class='mapview-btn highlight'><i class=" icon-picture icon-white"></i></div>
	<div class='globeview-btn highlight'><i class="icon-globe icon-white"></i></div>
	<div class='boxview-btn highlight'><i class="icon-inbox icon-white"></i></div>
	<div class='analyticsview-btn highlight'><i class="icon-align-left icon-white" id="rotate"></i></div>
</div>